<mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    </button>
    <span id="title"><b>{{ title }}</b></span>
    <span class="example-spacer"></span>
    <a [routerLink]="['/sign-in']" routerLinkActive="router-link-active" ><span>SIGN IN</span></a>
    <a href="#"><span>FAQ</span></a>
</mat-toolbar>

<mat-drawer-container class="drawer-container" [hasBackdrop]="false" autosize>

<mat-drawer #drawer class="sidenav" mode="over">
        <div class="menu-option">
            <a [routerLink]="['/my-offers']" routerLinkActive="router-link-active" ><p>My offers</p></a>
        </div>
        <div class="menu-option">
            <a href="#"><p>Settings</p></a>
        </div>
</mat-drawer>




</mat-drawer-container>