<mat-toolbar color="primary">
  <button id="toggle" (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/main']"><span [routerLink]="['/main']" id="title"><b>{{ title }}</b></span></a>
  <span class="example-spacer"></span>
  <!-- <a *ngIf="getLoggedIn() == 'false'" [routerLink]="['/sign-in']" routerLinkActive="router-link-active" ><span>SIGN IN</span></a> -->
  <!-- <a *ngIf="getLoggedIn() == 'true'" (click)="logout()" [routerLink]="['/sign-in']" routerLinkActive="router-link-active" ><span>LOG OUT</span></a> -->
  <a href="#"><span>FAQ</span></a>
</mat-toolbar>

<mat-drawer-container class="drawer-container" [hasBackdrop]="false" autosize>

<mat-drawer id="drawer" #drawer class="sidenav" mode="over">
  <div class="menu" *ngIf="getLoggedIn() == 'true'">
      <div class="menu-option">
          <a [routerLink]="['/my-offers']" routerLinkActive="router-link-active" ><p>My offers</p></a>
      </div>
      <div class="menu-option">
          <a href="#"><p>Settings</p></a>
      </div>
  </div>
  <div *ngIf="getLoggedIn() == 'false'">
      <button id="btn-log" [routerLink]="['/sign-in']" mat-button>Sign in</button>
      <p style="font-size: 15px; margin-top: 10px; margin-left: 5px; color: #ff5200;">Here you can log in</p>
  </div>
  <div *ngIf="getLoggedIn() == 'true'">
      <button id="btn-logout" (click)="logout()" [routerLink]="['/sign-in']" mat-button>Log out</button>
      <p style="font-size: 15px;margin-top: 10px; margin-left: 5px; color: #ff5200;">Here you can log out</p>
  </div>
</mat-drawer>
 

<div class="container">
    <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="cleanForm()" dynamicHeight>
        <mat-tab label="My offers">
            <div class="my-offers">
              <button mat-button (click)="accordion.closeAll()" id="close">close all</button>
              <mat-accordion #accordion="matAccordion" [multi]="false">
                <mat-expansion-panel *ngFor="let offer of userOffers" (opened)="loadData(offer.id)"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ offer.title }}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{ offer.createdAt }}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <form [formGroup]="offerForm">
                    <mat-icon (click)="delete(offer.id)" style="float:right; font-size: 350%; margin-right: 2%;">delete_forever</mat-icon>
                    <div class="fields">
                      <div class="title-and-city">
                          <mat-form-field id="title-f" appearance="fill">
                              <mat-label>Title</mat-label>
                              <input matInput formControlName="title" minlength="4"  maxlength="15" required>
                              <mat-error *ngIf="offerForm.get('title')?.invalid">{{ getTitleErrorMessage() }}</mat-error>
                          </mat-form-field>
                          <mat-form-field id="loc-f" appearance="fill">
                              <mat-label>City</mat-label>
                              <input matInput formControlName="city" required>
                              <mat-error *ngIf="offerForm.get('city')?.invalid">{{ getCityErrorMessage() }}</mat-error>
                          </mat-form-field>
                      </div>
                      <div class="details">
                        <div class="car-details">
                          <div>
                            <h1>Car details</h1>
                          </div>
                            <div>
                              <mat-form-field id="detail" appearance="fill">
                                <mat-label>Mark</mat-label>
                                <mat-select (valueChange)="loadCorrectModelsById($event)" formControlName="mark" required>
                                  <mat-option *ngFor="let element of marks" [value]="element.id" >
                                    {{ element.mark }}
                                </mat-option>
                                </mat-select>
                                <mat-error *ngIf="offerForm.get('mark')?.invalid">{{ getCarDetailError('mark') }}</mat-error>
                              </mat-form-field>
                              <mat-form-field id="detail" appearance="fill">
                                <mat-label>Model</mat-label>
                                <mat-select formControlName="model" required>
                                  <mat-option *ngFor="let element of models" [value]='element.id'>
                                    {{ element.model }}
                                </mat-option>
                                </mat-select>
                                <mat-error *ngIf="offerForm.get('model')?.invalid">{{ getCarDetailError('model') }}</mat-error>
                              </mat-form-field>
                              <mat-form-field id="detail" appearance="fill">
                                <mat-label>Type of fuel</mat-label>
                                <mat-select formControlName="typeOfFuel" required>
                                  <mat-option *ngFor="let element of fuelTypes" [value]="element.id">
                                    {{ element.fuelTypeName }}
                                </mat-option>
                                </mat-select>
                                <mat-error *ngIf="offerForm.get('typeOfFuel')?.invalid">{{ getCarDetailError('typeOfFuel') }}</mat-error>
                              </mat-form-field>
                              <mat-form-field id="detail" appearance="fill">
                                <mat-label>Power</mat-label>
                                <input style="text-align: right;" type="number" matInput formControlName="power" required>
                                <span matSuffix>&nbsp;hp</span>
                                <mat-error *ngIf="offerForm.get('power')?.invalid">{{ getCarDetailError('power') }}</mat-error>
                              </mat-form-field>
                              <mat-form-field id="detail" appearance="fill">
                                <mat-label>Engine capacity</mat-label>
                                <input style="text-align: right;" type="number" matInput formControlName="engineCapacity" required>
                                <span matSuffix>&nbsp;cm<span>&#179;</span></span>
                                <mat-error *ngIf="offerForm.get('engineCapacity')?.invalid">{{ getCarDetailError('engineCapacity') }}</mat-error>
                              </mat-form-field>
                              <mat-form-field id="detail" appearance="fill">
                                <mat-label>Gearbox</mat-label>
                                <mat-select formControlName="gearbox" required>
                                  <mat-option *ngFor="let element of gearboxes" [value]="element.id">
                                    {{ element.gearbox }}
                                </mat-option>
                                </mat-select>
                                <mat-error *ngIf="offerForm.get('gearbox')?.invalid">{{ getCarDetailError('gearbox') }}</mat-error>
                              </mat-form-field>
                              <mat-form-field id="detail" appearance="fill">
                                <mat-label>Driving gear</mat-label>
                                <mat-select formControlName="drivingGear" required>
                                  <mat-option *ngFor="let element of drivingGears" [value]="element.id">
                                    {{ element.drivingGear }}
                                </mat-option>
                                </mat-select>
                                <mat-error *ngIf="offerForm.get('drivingGear')?.invalid">{{ getCarDetailError('drivingGear') }}</mat-error>
                              </mat-form-field>
                              <mat-form-field id="detail" appearance="fill">
                                <mat-label>State</mat-label>
                                <mat-select formControlName="state" required>
                                  <mat-option *ngFor="let state of carStates" [value]="state.name">
                                    {{ state.name }}
                                </mat-option>
                                </mat-select>
                                <mat-error *ngIf="offerForm.get('state')?.invalid">{{ getCarDetailError('state') }}</mat-error>
                              </mat-form-field>
                              <mat-form-field id="detail" appearance="fill">
                                <mat-label>Mileage</mat-label>
                                <input style="text-align: right;" type="number" matInput formControlName="mileage" required>
                                <span matSuffix>&nbsp;km</span>
                                <mat-error *ngIf="offerForm.get('mileage')?.invalid">{{ getCarDetailError('mileage') }}</mat-error>
                              </mat-form-field>
                              <mat-form-field id="detail" appearance="fill">
                                <mat-label>Type of vehicle</mat-label>
                                <mat-select formControlName="typeOfVehicle" required>
                                  <mat-option *ngFor="let type of carTypes" [value]=type.name>
                                    {{ type.name }}
                                </mat-option>
                                </mat-select>
                                <mat-error *ngIf="offerForm.get('typeOfVehicle')?.invalid">{{ getCarDetailError('typeOfVehicle') }}</mat-error>
                              </mat-form-field>
                              <mat-form-field id="detail" appearance="fill">
                                <mat-label>Color</mat-label>
                                <mat-select formControlName="color" required>
                                  <mat-option *ngFor="let color of colors" [value]=color.id>
                                    {{ color.colorName }}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="offerForm.get('color')?.invalid">{{ getCarDetailError('color') }}</mat-error>
                              </mat-form-field>
                              <mat-form-field id="detail" appearance="fill">
                                <mat-label>Year of production</mat-label>
                                <input type="number" matInput formControlName="yearOfProduction" required>
                                <mat-error *ngIf="offerForm.get('yearOfProduction')?.invalid">{{ getCarDetailError('yearOfProduction') }}</mat-error>
                              </mat-form-field>
                            </div>
                         
                      </div>
                      <mat-form-field id="desc" appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea matInput
                                  cdkTextareaAutosize
                                  cdkAutosizeMinRows="19"
                                  cdkAutosizeMaxRows="19" formControlName="description" maxlength="5000" required></textarea>
                        <mat-error *ngIf="offerForm.get('description')?.invalid">{{ getCarDetailError('description') }}</mat-error>
                        <mat-hint align="end">{{offerForm.get('description')?.value?.length || 0}}/5000</mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="offer-images">
                      <div class="upload-images">
                        <div class="image-infos">
                          <h1>Images {{currentImages + currentReadedImages}}/{{imagesLimit}}</h1>
                        </div>
                        <div class="img-btns">
                          <div>
                            <label for="choose-image" class="custom-image-choose">
                              Upload
                            </label>
                            <input id="choose-image" (change)="onFileChanged($event)" type="file" accept="image/png, image/jpeg" multiple>
                          </div>
                          <div style="margin-left: 1%;" *ngIf="imgError" class="img-error">
                            <mat-icon id="warning">warning</mat-icon>
                            <span style="margin-left: 6%;">{{ imgErrorMessage }}</span>
                          </div>
                        </div>
                        <div class="preview-images">
                          <div class="row">
                            <div class="column" *ngFor="let url of imagesLocalUrls">
                              <img id="preview" [src]=url.source alt="Here should be image" width="260px" height="170px">
                              <!-- <mat-icon id="remove-img">remove_circle</mat-icon> -->
                              <mat-icon (click)="deleteImageFromUploaded(url.id)" id="remove-img">delete</mat-icon>
                            </div>
                            <div class="column" *ngFor="let obj of imgStringUrls">
                              <img id="preview" [src]="obj.url"  alt="Here should be image" width="260px" height="170px">
                              <mat-icon (click)="deleteImageFromLoadedOffer(obj.url)" id="remove-img">delete</mat-icon>
                            </div>
                          </div> 
                        </div>
                      </div>

<!-- 
                      <div class="upload-images">
                        <div class="image-infos">
                          <h1>Images {{currentImages + currentReadedImages}}/{{imagesLimit}}</h1>
                        </div>
                        <div class="img-btns">
                          <div>
                            <label for="choose-image" class="custom-image-choose">
                              Upload
                            </label>
                            <input  id="choose-image" (change)="onFileChanged($event)" type="file" accept="image/png, image/jpeg" multiple>
                          </div>
                          <div style="margin-left: 1%;" *ngIf="imgError" class="img-error">
                            <mat-icon id="warning">warning</mat-icon>
                            <span style="margin-left: 6%;">{{ imgErrorMessage }}</span>
                          </div>
                        </div>
                        <div class="preview-images">
                            <img id="preview" [src]="url" *ngFor="let url of imagesLocalUrls" alt="Here should be image" width="260px" height="170px">
                            <img id="preview" [src]="obj.url" *ngFor="let obj of imgStringUrls" alt="Here should be image" width="260px" height="170px">
                        </div>
                      </div> -->



                      <!-- <button mat-button>Clear</button> -->
                    </div>
                  </div>
                  <div style="display: flex;">
                    <div class="contact">
                      <h1>Contact</h1>
                      <mat-form-field appearance="fill">
                        <mat-label>Phone number</mat-label>
                        <input matInput type="number" formControlName="phoneNumber" required>
                        <mat-error *ngIf="offerForm.get('phoneNumber')?.invalid">{{ getPhoneNumberErrorMessage() }}</mat-error>
                    </mat-form-field>
                    <mat-form-field  appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput type="email" formControlName="email" required>
                      <mat-error *ngIf="offerForm.get('email')?.invalid">{{ getEmailErrorMessage() }}</mat-error>
                  </mat-form-field>
                  </div>
                  <div style="display: block; margin-left: 2%; margin-top: 2%;">
                    <div>
                      <mat-form-field style="width: auto; margin-right: 2%;" floatLabel="always" appearance="fill">
                        <mat-label>Price</mat-label>
                        <input class="price-input"  min="0" matInput type="number" placeholder="0" formControlName="price" required>
                        <span matPrefix>$&nbsp;</span>
                        <span matSuffix>.00</span>
                        <mat-error *ngIf="offerForm.get('price')?.invalid">{{ getCarDetailError('price') }}</mat-error>
                      </mat-form-field>
                    </div>
                    <mat-spinner *ngIf="loading"></mat-spinner>
                  </div>
                  <button id="on-submit-btn" (click)="updateOffer(offer)" mat-button>UPDATE</button>
                  </div>

                  </form>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
        </mat-tab>
        <mat-tab label="Add new offer">
            <div class="add-new-offer">
              <form [formGroup]="offerForm">
                <div class="fields">
                  
                  <div class="title-and-city">
                      <mat-form-field id="title-f" appearance="fill">
                          <mat-label>Title</mat-label>
                          <input matInput formControlName="title" minlength="4" maxlength="15" required>
                          <mat-error *ngIf="offerForm.get('title')?.invalid">{{ getTitleErrorMessage() }}</mat-error>
                      </mat-form-field>
                      <mat-form-field id="loc-f" appearance="fill">
                          <mat-label>City</mat-label>
                          <input matInput formControlName="city" required>
                          <mat-error *ngIf="offerForm.get('city')?.invalid">{{ getCityErrorMessage() }}</mat-error>
                      </mat-form-field>
                  </div>
                  <div class="details">
                    <div class="car-details">
                      <div>
                        <h1>Car details</h1>
                      </div>
                        <div>
                          <mat-form-field id="detail" appearance="fill">
                            <mat-label>Mark</mat-label>
                            <mat-select (valueChange)="loadCorrectModelsByName($event)" formControlName="mark" required>
                              <mat-option *ngFor="let element of marks" [value]="element" >
                                {{ element.mark }}
                            </mat-option>
                            </mat-select>
                            <mat-error *ngIf="offerForm.get('mark')?.invalid">{{ getCarDetailError('mark') }}</mat-error>
                          </mat-form-field>
                          <mat-form-field id="detail" appearance="fill">
                            <mat-label>Model</mat-label>
                            <mat-select formControlName="model" required>
                              <mat-option *ngFor="let element of models" [value]='element'>
                                {{ element.model }}
                            </mat-option>
                            </mat-select>
                            <mat-error *ngIf="offerForm.get('model')?.invalid">{{ getCarDetailError('model') }}</mat-error>
                          </mat-form-field>
                          <mat-form-field id="detail" appearance="fill">
                            <mat-label>Type of fuel</mat-label>
                            <mat-select formControlName="typeOfFuel" required>
                              <mat-option *ngFor="let element of fuelTypes" [value]="element">
                                {{ element.fuelTypeName }}
                            </mat-option>
                            </mat-select>
                            <mat-error *ngIf="offerForm.get('typeOfFuel')?.invalid">{{ getCarDetailError('typeOfFuel') }}</mat-error>
                          </mat-form-field>
                          <mat-form-field id="detail" appearance="fill">
                            <mat-label>Power</mat-label>
                            <input style="text-align: right;" type="number" matInput formControlName="power" required>
                            <span matSuffix>&nbsp;hp</span>
                            <mat-error *ngIf="offerForm.get('power')?.invalid">{{ getCarDetailError('power') }}</mat-error>
                          </mat-form-field>
                          <mat-form-field id="detail" appearance="fill">
                            <mat-label>Engine capacity</mat-label>
                            <input style="text-align: right;" type="number" matInput formControlName="engineCapacity" required>
                            <span matSuffix>&nbsp;cm<span>&#179;</span></span>
                            <mat-error *ngIf="offerForm.get('engineCapacity')?.invalid">{{ getCarDetailError('engineCapacity') }}</mat-error>
                          </mat-form-field>
                          <mat-form-field id="detail" appearance="fill">
                            <mat-label>Gearbox</mat-label>
                            <mat-select formControlName="gearbox" required>
                              <mat-option *ngFor="let element of gearboxes" [value]="element">
                                {{ element.gearbox }}
                            </mat-option>
                            </mat-select>
                            <mat-error *ngIf="offerForm.get('gearbox')?.invalid">{{ getCarDetailError('gearbox') }}</mat-error>
                          </mat-form-field>
                          <mat-form-field id="detail" appearance="fill">
                            <mat-label>Driving gear</mat-label>
                            <mat-select formControlName="drivingGear" required>
                              <mat-option *ngFor="let element of drivingGears" [value]="element">
                                {{ element.drivingGear }}
                            </mat-option>
                            </mat-select>
                            <mat-error *ngIf="offerForm.get('drivingGear')?.invalid">{{ getCarDetailError('drivingGear') }}</mat-error>
                          </mat-form-field>
                          <mat-form-field id="detail" appearance="fill">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="state" required>
                              <mat-option *ngFor="let state of carStates" [value]="state">
                                {{ state.name }}
                            </mat-option>
                            </mat-select>
                            <mat-error *ngIf="offerForm.get('state')?.invalid">{{ getCarDetailError('state') }}</mat-error>
                          </mat-form-field>
                          <mat-form-field id="detail" appearance="fill">
                            <mat-label>Mileage</mat-label>
                            <input style="text-align: right;" type="number" matInput formControlName="mileage" required>
                            <span matSuffix>&nbsp;km</span>
                            <mat-error *ngIf="offerForm.get('mileage')?.invalid">{{ getCarDetailError('mileage') }}</mat-error>
                          </mat-form-field>
                          <mat-form-field id="detail" appearance="fill">
                            <mat-label>Type of vehicle</mat-label>
                            <mat-select formControlName="typeOfVehicle" required>
                              <mat-option *ngFor="let type of carTypes" [value]=type>
                                {{ type.name }}
                            </mat-option>
                            </mat-select>
                            <mat-error *ngIf="offerForm.get('typeOfVehicle')?.invalid">{{ getCarDetailError('typeOfVehicle') }}</mat-error>
                          </mat-form-field>
                          <mat-form-field id="detail" appearance="fill">
                            <mat-label>Color</mat-label>
                            <mat-select formControlName="color" required>
                              <mat-option *ngFor="let color of colors" [value]=color>
                                {{ color.colorName }}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="offerForm.get('color')?.invalid">{{ getCarDetailError('color') }}</mat-error>
                          </mat-form-field>
                          <mat-form-field id="detail" appearance="fill">
                            <mat-label>Year of production</mat-label>
                            <input type="number" matInput formControlName="yearOfProduction" required>
                            <mat-error *ngIf="offerForm.get('yearOfProduction')?.invalid">{{ getCarDetailError('yearOfProduction') }}</mat-error>
                          </mat-form-field>
                        </div>
                     
                  </div>
                  <mat-form-field id="desc" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="19"
                              cdkAutosizeMaxRows="19" formControlName="description" maxlength="5000" required></textarea>
                    <mat-error *ngIf="offerForm.get('description')?.invalid">{{ getCarDetailError('description') }}</mat-error>
                    <mat-hint align="end">{{offerForm.get('description')?.value?.length || 0}}/5000</mat-hint>
                  </mat-form-field>
                </div>
                <div class="offer-images">
                  <div class="upload-images">
                    <div class="image-infos">
                      <h1>Images {{currentImages}}/{{imagesLimit}}</h1>
                    </div>
                    <div class="img-btns">
                      <div>
                        <label for="choose-image" class="custom-image-choose">
                          Upload
                        </label>
                        <input id="choose-image" (change)="onFileChanged($event)" type="file" accept="image/png, image/jpeg" multiple>
                      </div>
                      <div style="margin-left: 1%;" *ngIf="imgError" class="img-error">
                        <mat-icon id="warning">warning</mat-icon>
                        <span style="margin-left: 6%;">{{ imgErrorMessage }}</span>
                      </div>
                    </div>
                    <div class="preview-images">
                      <div class="row">
                        <div class="column" *ngFor="let url of imagesLocalUrls">
                          <img id="preview" [src]=url.source alt="Here should be image" width="260px" height="170px">
                          <!-- <mat-icon id="remove-img">remove_circle</mat-icon> -->
                          <mat-icon (click)="deleteImageFromUploaded(url.id)" id="remove-img">delete</mat-icon>
                        </div>
                      </div> 
                    </div>
                  </div>
                  <!-- <button mat-button>Clear</button> -->
                </div>
              </div>
              <div style="display: flex;">
                <div class="contact">
                  <h1>Contact</h1>
                  <mat-form-field appearance="fill">
                    <mat-label>Phone number</mat-label>
                    <input matInput type="number" formControlName="phoneNumber" required>
                    <mat-error *ngIf="offerForm.get('phoneNumber')?.invalid">{{ getPhoneNumberErrorMessage() }}</mat-error>
                </mat-form-field>
                <mat-form-field  appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" formControlName="email" required>
                  <mat-error *ngIf="offerForm.get('email')?.invalid">{{ getEmailErrorMessage() }}</mat-error>
              </mat-form-field>
              </div>
              <div style="display: block; margin-left: 2%; margin-top: 2%;">
                <div>
                  <mat-form-field style="width: auto; margin-right: 2%;" floatLabel="always" appearance="fill">
                    <mat-label>Price</mat-label>
                    <input class="price-input"  min="0" matInput type="number" placeholder="0" formControlName="price" required>
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                    <mat-error *ngIf="offerForm.get('price')?.invalid">{{ getCarDetailError('price') }}</mat-error>
                  </mat-form-field>
                </div>
                <mat-spinner *ngIf="loading"></mat-spinner>
              </div>
              <button id="on-submit-btn" (click)="onSubmit()" mat-button>CREATE</button>
              </div>
              
              
             
              </form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>




</mat-drawer-container>