a {
    margin-left: 1%;
    color: #ff5200;
    text-decoration: none;
}

.example-spacer {
    flex: 1 1 auto;
}

#title {
    color: #ff5200;
    font-size: 130%;
}

.mat-icon {
    color: #ff5200;
}

.mat-toolbar {
    background-color: white;
}

.sidenav {
    color: #ff5200;
    font-size: 160%;
    width: 190px;
    padding-left: 55px;
    padding-top: 1%;
}

.drawer-container {
    background-color: black;
}