h1 {
    color: #ff5200;
    padding-top: 10%;
    padding-left: 10%;
    font-size: 230%;
}

.panel {
    background-color: white;
    border-radius: 20%;
    height: auto;
    width: 50%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 5%;

}

.window-name {
    display: flex;
    margin-top: 5%;
}

.fields {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

#person-icon {
    padding-top: 8%;
    margin-left: 2%;
    margin-right: 25%;
    /* margin-right: 51%; */
    float: left;
    color: #ff5200;
    font-size: 50px;
}

.mat-form-field {
    width: 100%;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #ff5200 !important;
}
  
::ng-deep.mat-form-field-underline {
    background-color: #ff5200 !important;
} 
  
::ng-deep.mat-form-field-ripple {
   background-color: #ff5200 !important;;
}

.mat-icon {
      color: #ff5200;
}

.sign-in-bg {
    margin-top: 11%;
    margin-left: 5%;
    margin-right: 5%;
}

.mat-button {
    color: white;
    background-color: #ff5200;
    width: 25%;
}

.block {
    display: flex;
}

span {
    margin-left: 2%;
}

a {
    text-decoration: none;
    color: #ff5200;
}

.clickable {
    margin-left: 10%;
    margin-bottom: 17%;
    /* margin-bottom: 5%; */
}

.img {
    width: 100%;
    height: auto;
}

a:hover {
    cursor: pointer;
}

#spinner {
    margin-left: 43.5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ff5200;
}
.info {
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 10%;
}
