
<div class="block">
    <div id="sign-in-panel" class="panel" [class.mat-elevation-z8]="isActive">
        <div class="window-name">
            <h1 id='label'>Sign in</h1>
            <mat-icon id="person-icon">person</mat-icon>
        </div>
        <div class="fields">
          <form [formGroup]="loginForm">
            <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Enter your email</mat-label>
                  <input id='email' type="email" matInput formControlName="email" required>
                  <mat-error *ngIf="loginForm.get('email')?.invalid">{{ getErrorMessageEmail() }}</mat-error>
                  <mat-icon style="margin-right: 20px;" matSuffix>alternate_email</mat-icon>
                </mat-form-field>
              </p>
              <div *ngIf="!forgotPassword">
                <p>
                  <mat-form-field appearance="fill">
                      <mat-label>Enter your password</mat-label>
                      <input  [type]="hide ? 'password' : 'text'" matInput formControlName="password" required>
                      <mat-error *ngIf="loginForm.get('password')?.invalid && flag">{{ getErrorMessageRegisterPassword() }}</mat-error>
                      <mat-error *ngIf="loginForm.get('password')?.invalid && !flag">{{ getErrorMessageLoginPassword() }}</mat-error>
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                </p>
                <p *ngIf="loginFailStatusMessage" style="color: red;">Wrong email or password</p>
                <p *ngIf="flag">
                  <mat-form-field appearance="fill">
                      <mat-label>Repeat your password</mat-label>
                      <input matInput [type]="hideSecond ? 'password' : 'text'" formControlName="password2">
                      <mat-error></mat-error>
                      <button mat-icon-button matSuffix (click)="hideSecond = !hideSecond" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hideSecond ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                </p>
                <div style="color: red;" *ngIf="!samePassword">
                  Password must be the same
              </div>
              <div *ngIf="userAlreadyExists" style="color: red;">
                  User with this email already exists
              </div>
              </div>
            </form>
        </div>
        <div id="clickable-elements" class="clickable">
            <p *ngIf="!flag && !forgotPassword">
              <a id="flag" (click)="loadRegisterForm()">Don't have account? Register now</a>
            </p>
            <p *ngIf="flag">
              <a id="register" (click)="loadLoginForm()">You have an account? Sign in now</a>
            </p>
            <button (click)="onSubmit()" id='btnSignIn' *ngIf="!flag && !forgotPassword" mat-button>Sign in</button>
            <button (click)="register()" id='btnSignUp' *ngIf="flag" mat-button>Sign up</button>
            <button (click)="sendChangePasswordEmail()" *ngIf="forgotPassword" mat-button>Send</button>
            <span *ngIf="!flag">
              <a id="forgot-password" *ngIf="!forgotPassword" (click)="loadForgotPassword()">Forgotten Your Password?</a>
              <a id="forgot-password" *ngIf="forgotPassword" href="http://localhost:4200/sign-in" routerLinkActive="router-link-active" >You remember you password? Sign in</a>
            </span>
        </div>
        <mat-spinner color="primary" id="spinner" *ngIf="loading" [diameter]="70"></mat-spinner>

        <div class="info">
          <ul>
            <li><a (click)="loadSupportDialog()">Support</a></li>
            <li><a (click)="loadTermsOfUseDialog()">Terms of use</a></li>
            <li><a (click)="loadContactDialog()">Contact</a></li>
          </ul>
        </div>
    </div>
    <div class="sign-in-bg">
      <div class="row"><img  width="80%" src="assets/images/AutoMI-logo-v2.png" alt="Should here be image with text logo :("></div>
      <div class="row"><img  width="80%" style="margin-top: 15%;" src="assets/images/login-bg.png" alt="Should here be image with text logo :(">
      </div>
    </div>  
</div>


