
<div class="main" [class.mat-elevation-z8]="true">
    <h1>AutoMI</h1>
    <p id="label">Change your password</p>
    
    <form [formGroup]="changePasswordForm">
        <p>
            <mat-form-field appearance="legacy">
              <mat-label>New password</mat-label>
              <input id='passwd1' type="password" matInput formControlName="password1" required>
              <mat-error *ngIf="changePasswordForm.get('password1')?.invalid">{{ getPasswordErrorMessage() }}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy">
              <mat-label>Repeat password</mat-label>
              <input id='passwd2' type="password" matInput formControlName="password2" required>
              <mat-error *ngIf="changePasswordForm.get('password2')?.invalid"></mat-error>
            </mat-form-field>
          </p>
          <span *ngIf="flag" id="errorMessage">Password must be the same</span>
          <br>


          <button (click)="changePassword()" id='btnChangePassword' mat-button>Change password</button>
          <mat-progress-bar style="margin-top: 15px; margin-left: 25%; width: 50%; margin-right: 25%;" color="primary" id="spinner" *ngIf="changingPasswordLoading" mode="indeterminate"></mat-progress-bar>
    </form>


   
</div>