.mat-toolbar {
    background-color: white;
}

.mat-icon {
    color: #ff5200;
}

#title {
    color: #ff5200;
    font-size: 130%;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-button {
    background-color: #ff5200;
    color: white;
}

a {
    margin-left: 1%;
    color: #ff5200;
    text-decoration: none;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
}

.mat-form-field {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #ff5200 !important;
}
  
::ng-deep .mat-form-field-underline {
    background-color: #ff5200 !important;
} 
  
::ng-deep .mat-form-field-ripple {
   background-color: #ff5200 !important;;
}

::ng-deep .mat-select-arrow {
    color: #ff5200 !important;
}

.offers {
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 4%;
    background-color: chartreuse;
}

.offer {
    background-color: blue;
    display: flex;
}

#offer-title {
    margin-left: 5%;
}

#offer-image {
    border-radius: 10%;
}

