.mat-icon {
    color: #ff5200;
}


.mat-button {
    background-color: #ff5200;
    color: white;
}

a {
    margin-left: 1%;
    color: #ff5200;
    text-decoration: none;
}

.container {
    margin-left: 20%;
    /* margin-right: 20%; */
    margin-right: 2%;
}

.mat-form-field {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3%;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #ff5200 !important;
}
  
::ng-deep .mat-form-field-underline {
    background-color: #ff5200 !important;
} 
  
::ng-deep .mat-form-field-ripple {
   background-color: #ff5200 !important;;
}

::ng-deep .mat-select-arrow {
    color: #ff5200 !important;
}

.offers {
    margin-top: 5%;
    margin-left: 1%;
    /* width: 95%; */
    width: 100%;
}

.offer {
    display: flex;
    border: 1px solid rgb(211, 211, 211);
    margin-bottom: 1%;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

#offer-image {
    padding: 1%;
}

.informations {
    margin-top: 1%;
    margin-left: 2%;
    display: block;
}

#offer-description {
    font-size: 120%;
    margin-bottom: 100%;
}

.mat-chip {
    margin-top: 2% !important;
    background-color: #ff5200;
    color: white;
    user-select: none;
    margin-bottom: 5% !important;
}


.details {
    /* width: 220%; */
    width: 400%;
    height: 40%;
}

.price {
    height: 0%;
    margin-top: 1%;
    color: #ff5200;
    display: flex;
    margin-left: 30%;
    margin-right: 2%;
}

.localization {
    display: flex;
    width: 150%;
}

.localization p {
    margin-left: 1%;
    margin-top: 1%;
}


img {
    max-width: 100%;
    max-height: auto;
}

#btn-filter {
    margin-left: 1%;
}


.form {
    margin-left: 20%;
    margin-right: 20%;
}

.filter {
    background-color: rgb(250, 250, 250);
    padding-bottom: 2%;
}


a {
    margin-left: 1%;
    color: #ff5200;
    text-decoration: none;
}

.example-spacer {
    flex: 1 1 auto;
}

#title {
    color: #ff5200;
    font-size: 130%;
}

.mat-icon {
    color: #ff5200;
}

.mat-toolbar {
    background-color: white;
}

.sidenav {
    color: #ff5200;
    font-size: 160%;
    width: 190px;
    padding-left: 55px;
    padding-top: 1%;
}

.drawer-container {
    background-color: white;
    
}

#paginator {
    margin-bottom: 23%;
}

.newest-offers {
    border: #ff5200 1px solid;
    border-radius: 5px;
    width: 30%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.content {
    display: flex;
}

.new-offer {
    padding: 5%;
}