


<mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button>
        <span id="title"><b>{{ title }}</b></span>
        <span class="example-spacer"></span>
        <button mat-button [routerLink]="['/sign-in']" routerLinkActive="router-link-active" >Sign In</button>
        <a href="#"><span>FAQ</span></a>
</mat-toolbar>

<div class="container">
    <div class="filter">
        <div class="form">
            <mat-form-field appearance="fill">
                <mat-label>Car type</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Mark</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Model</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Gearbox</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Driving gear</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fuel type</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Power</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Engine Capacity</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <mat-select>
                </mat-select>
            </mat-form-field>
            <button id="btn-filter" mat-button>FILTR</button>
        </div>
     </div>
     <div class="offers">
        <div class="offer">
            <img id="offer-image" width="30%" height="30%" src="assets/images/maxresdefault.jpg" alt="Here will be image of car">
            <div class="informations">
                <h1 id="offer-title">Title</h1>
                <span id="offer-description">Description</span>
                <mat-chip-list>
                    <mat-chip>param 1</mat-chip>
                    <mat-chip>param 2</mat-chip>
                    <mat-chip>param 3</mat-chip>
                    <mat-chip>param 4</mat-chip>
                </mat-chip-list>
                <div class="localization">
                    <mat-icon>location_on</mat-icon>
                    <p>Piekary Śląskie</p>
                </div>
            </div>
            <div class="price">
                <h1>100 000</h1>
                <span><b>PLN</b></span>
            </div>
        </div>

        <div class="offer">
            <img id="offer-image" width="30%" height="30%" src="assets/images/maxresdefault.jpg" alt="Here will be image of car">
            <div class="informations">
                <h1 id="offer-title">Title</h1>
                <span id="offer-description">Description</span>
                <mat-chip-list>
                    <mat-chip>param 1</mat-chip>
                    <mat-chip>param 2</mat-chip>
                    <mat-chip>param 3</mat-chip>
                    <mat-chip>param 4</mat-chip>
                </mat-chip-list>
                <div class="localization">
                    <mat-icon>location_on</mat-icon>
                    <p>Piekary Śląskie</p>
                </div>
            </div>
            <div class="price">
                <h1>100 000</h1>
                <span><b>PLN</b></span>
            </div>
        </div>
     </div>
</div>



