<mat-toolbar color="primary">
    <button id="toggle" (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    </button>
    <span id="title"><b>{{ title }}</b></span>
    <span class="example-spacer"></span>
    <a *ngIf="getLoggedIn() == 'false'" [routerLink]="['/sign-in']" routerLinkActive="router-link-active" ><span>SIGN IN</span></a>
    <a *ngIf="getLoggedIn() == 'true'" (click)="logout()" [routerLink]="['/sign-in']" routerLinkActive="router-link-active" ><span>LOG OUT</span></a>
    <a href="#"><span>FAQ</span></a>
</mat-toolbar>

<mat-drawer-container class="drawer-container" [hasBackdrop]="false" autosize>

<mat-drawer id="drawer" #drawer class="sidenav" mode="over">
    <div *ngIf="getLoggedIn() == 'true'">
        <div class="menu-option">
            <a [routerLink]="['/my-offers']" routerLinkActive="router-link-active" ><p>My offers</p></a>
        </div>
        <div class="menu-option">
            <a href="#"><p>Settings</p></a>
        </div>
    </div>
</mat-drawer>


<div class="filter">
    <div class="form">
        <mat-form-field appearance="fill">
            <mat-label>Car type</mat-label>
            <mat-select (valueChange)="updateFilter('carType', $event)">
                <mat-option *ngFor="let type of carTypes" [value]=type>
                    {{ type.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Mark</mat-label>
            <mat-select (valueChange)="loadCorrectModels($event)">
                <mat-option *ngFor="let element of marks" [value]="element">
                    {{ element.mark }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Model</mat-label>
            <mat-select (valueChange)="updateFilter('model', $event)">
                <mat-option *ngFor="let element of models" [value]='element'>
                    {{ element.model }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Gearbox</mat-label>
            <mat-select (valueChange)="updateFilter('gearbox', $event)">
                <mat-option *ngFor="let element of gearboxes" [value]="element">
                    {{ element.gearbox }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Driving gear</mat-label>
            <mat-select (valueChange)="updateFilter('drivingGear', $event)">
                <mat-option *ngFor="let element of drivingGears" [value]="element">
                    {{ element.drivingGear }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Fuel type</mat-label>
            <mat-select (valueChange)="updateFilter('fuelType', $event)">
                <mat-option *ngFor="let element of fuelTypes" [value]="element">
                    {{ element.fuelTypeName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Power</mat-label>
            <mat-select>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Engine Capacity</mat-label>
            <mat-select>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <mat-select>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <mat-select (valueChange)="updateFilter('state', $event)">
                <mat-option *ngFor="let state of carStates" [value]="state">
                    {{ state.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button id="btn-filter" mat-button>FILTR</button>
        <button id="btn-filter" mat-button (click)="clearFilters()">CLEAR</button>
    </div>
 </div>

<div class="container">
    <div class="content">
        <div class="offers">
            <div class="offer" *ngFor="let offer of offers">
                <img id="offer-image" width="30%" height="30%" src="assets/images/maxresdefault.jpg" alt="Here will be image of car">
                <div class="informations">
                    <h1 id="offer-title">{{ offer.title }}</h1>
                    <span id="offer-description">{{ offer.description }}</span>
                    <mat-chip-list>
                        <mat-chip>{{ offer.car.fuelType.fuelTypeName }}</mat-chip>
                        <mat-chip>{{ offer.car.yearOfProduction }} km</mat-chip>
                        <mat-chip>{{ offer.car.engineCapacity}} cm3</mat-chip>
                    </mat-chip-list>
                    <div class="localization">
                        <mat-icon>location_on</mat-icon>
                        <p>Piekary Śląskie</p>
                    </div>
                </div>
                <div class="price">
                    <h1>{{ offer.price }}</h1>
                    <span><b>PLN</b></span>
                </div>
            </div>
    
            <div class="offer">
                <img id="offer-image" width="30%" height="30%" src="assets/images/maxresdefault.jpg" alt="Here will be image of car">
                <div class="informations">
                    <h1 id="offer-title">Title</h1>
                    <span id="offer-description">Description</span>
                    
                    <div class="details">   
                        <mat-chip-list>
                            <mat-chip>param 1</mat-chip>
                            <mat-chip>param 2</mat-chip>
                            <mat-chip>param 3</mat-chip>
                            <mat-chip>param 4</mat-chip>
                        </mat-chip-list>
                    </div>
    
                    <div class="localization">
                        <mat-icon>location_on</mat-icon>
                        <p>Piekary Śląskie</p>
                    </div>
    
                </div>
                <div class="price">
                    <h1>100000</h1>
                    <span><b>PLN</b></span>
                </div>
                
            </div>
            <!-- <mat-paginator id="paginator" [length]="50"
                [pageSize]="10"
                [pageSizeOptions]="[5, 1, 2, 20, 25]"
                aria-label="Select page"
                (page)="loadOffers($event)">
            </mat-paginator>   -->
            <mat-paginator id="paginator" [length]="50"
                [pageSize]="10"
                [pageSizeOptions]="[1, 2, 5, 10, 20, 25]"
                aria-label="Select page"
                (page)="loadPaginationData($event)">
            </mat-paginator>  
         </div>
         <div class="newest-offers">
            <div class="new-offer">
                <img src="assets/images/maxresdefault.jpg" alt="Here should be image">
                <p style="font-size: 150%">Title</p>
                <div style="display:flex">
                    <span style="font-size: 150%; margin-top: 2%;">56000 PLN</span>
                    <button style="margin-left: 5%; height: 33px;" mat-button>MORE</button>
                </div>
                
            </div>
         </div>

     </div>
     
</div>

</mat-drawer-container>
